.welcomePageContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.infoContainer {
  display: flex;
  /* margin-top: 6.25rem;
  padding-top: 4.688rem; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}

.pictureWrap {
  width: 8.438rem;
  background-color: black;
  height: 8.438rem;
  border-radius: 50%;
}

.textContainer {
  text-align: center; 
}

.subTitleText {
  margin-top: 0.188rem;
  margin-bottom: .75rem;
  font-family: var(--font-ibm-plex-sans);
  font-size: 0.875rem;
  color: var(--grey);
}

.arrowIconContainer {
  display: inline-block;
  cursor: pointer;
  padding: .5rem;
  animation: 1.5s linear infinite alternate moveArrow;
}

@keyframes moveArrow {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 56.25rem) {
  .infoContainer {
    margin-top: 0rem;
    /* padding-top: 13rem; */
  }

  .pictureWrap {
    width: 13.313rem;
    height: 13.313rem;
  }

  .subTitleText {
    font-size: 1rem;
  }
}