.textAreaContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.textAreaContainer textarea {
  width: 100%;
  border: 1px solid var(--grey);
  background-color: var(--background-dark);
  border-radius: 6px;
  box-sizing: border-box;
  resize: none;
  color: var(--white);
  font-size: 1rem;
  padding: 1rem;
}