.menuNavDesktop {
  font-family: var(--font-ibm-plex-sans);
  background-color: var(--background-dark);
  display: flex;
  align-items: center;
  max-width: 48.125rem;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.ulDesktopList {
  display: flex;
}

.ulDesktopList .optionMenuDesktop {
  display: block;
  position: relative;
  padding: 0.625rem 1.25rem;
  color: var(--white-secondary);
  border-radius: 0.5rem;
  transition: background-color 0.5s ease;
}

.iconsLinks {
  display: flex;
  gap: 1.375rem;
}


.ulDesktopList .optionMenuDesktop:hover {
  background-color: var(--dark-grey);
  color: var(--white);
}

.menuMobileContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-dark);
  padding: 0.938rem 0.938rem 0rem 0.938rem
}

.menuMobileButton {
  cursor: pointer;
  z-index: 999;
  padding: .5rem;
  box-sizing: border-box;
  transition: transform 0.5s ease;
}

.menuMobileSidebarContainer {
  background-color: #1f1f1f;
  transition: transform 0.5s ease;
  display: none;
  opacity: 83%;
  top: 0;
  right: 0;
  position: absolute;
  width: 100vw;
  height: 0.625rem;
  height: 100vh;
  z-index: 99;
}

.menuMobileSidebarContainer .menuMobileSidebar {
  background-color: var(--medium-grey);
  width: 8.75rem;
  height: 100vh;
  transition: transform 0.5s ease;
}

.ulMobileList {
  margin-top: 2.813rem;
  display: flex;
  flex-direction: column;
  font-family: var(--font-ibm-plex-sans);
}

.ulMobileList .optionMenuMobile {
  padding: 0.938rem;
  display: block;
  text-align: center;
  color: var(--white-secondary)
}

.ulMobileList .optionMenuMobile:hover {
  background-color: var(--dark-grey);
  color: var(--white);
}