:root {
  --background-dark: #1F1F1F;
  --white: #FFF;
  --white-secondary: #C6C6C6;
  --grey: #8B8989;
  --medium-grey: #343434;
  --dark-grey: #5A5757;
  --light-green: #13FFC6;
  --light-blue: #4AA8FF;
  --hot-pink: #FF57D0;
  --pink: #DE3AF9;
  --violet: #BF56FF;
  --purple: #8222FD;
  --light-yellow: #FFF848;
  --yellow: #FCDB65;
  --orange: #F9A440;
  --alice-green: #62FFD9;
  --ice-blue: #00E7F5;
  --pool-green: #10F1A0;
  --green: #82F880;
  --pool-blue: #00E7F5;
  --aqua-green: #10F1A0;
}

html, body {
  background-color: var(--background-dark);
  color: var(--white);
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, span, a, div, nav {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 48.125rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--white);
}

.open {
  transform: rotate(-270deg);
}

.openSideBarContainer {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.closeSideBarContainer {
  animation: closeMenu .3s forwards;
}

.openMobileSideBarMenu {
  display: block;
  animation: showMenu .5s;
}

.closeMobileSideBarMenu {
  animation: closeMenu .5s forwards;
}

@keyframes showMenu {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} 

@keyframes closeMenu {
  0% {
    width: 8.75rem;
    opacity: 1;
  }
  100% {
    width: 0rem;
    opacity: 0;
  }
}
