:root {
  --background-dark: #1f1f1f;
  --white: #fff;
  --white-secondary: #c6c6c6;
  --grey: #8b8989;
  --medium-grey: #343434;
  --dark-grey: #5a5757;
  --light-green: #13ffc6;
  --light-blue: #4aa8ff;
  --hot-pink: #ff57d0;
  --pink: #de3af9;
  --violet: #bf56ff;
  --purple: #8222fd;
  --light-yellow: #fff848;
  --yellow: #fcdb65;
  --orange: #f9a440;
  --alice-green: #62ffd9;
  --ice-blue: #00e7f5;
  --pool-green: #10f1a0;
  --green: #82f880;
  --pool-blue: #00e7f5;
  --aqua-green: #10f1a0;
}

html,
body {
  background-color: var(--background-dark);
  color: var(--white);
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
div,
nav {
  padding: 0;
  margin: 0;
}

video {
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  width: auto;
}

.container {
  max-width: 48.125rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--white);
}

.open {
  transform: rotate(-270deg);
}

.openSideBarContainer {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: fixed;
}

.closeSideBarContainer {
  animation: closeMenu 0.3s forwards;
}

.openMobileSideBarMenu {
  display: block;
  animation: showMenu 0.5s;
}

.closeMobileSideBarMenu {
  animation: closeMenu 0.5s forwards;
}

@keyframes showMenu {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes closeMenu {
  0% {
    width: 8.75rem;
    opacity: 1;
  }
  100% {
    width: 0rem;
    opacity: 0;
  }
}
