.formContainer {
  margin-top: 1.25rem;
  max-width: 26.563rem;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}